*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}
footer{
  background-color: #1d3557;
  text-align: center;
  padding:8px 0;
  color: white;
}
body{
  color: black;
  height: 100px;
}
header{
  text-align: center;
  background-color: #1d3557;
  color: #ffff;

}
h1{
  font-family: 'Times New Roman', Times, serif;
}

nav{
color: white;
text-decoration: none;
}
div{
  display: inline;
  color: white;
}
a:hover{
  background-color:darkcyan;
}
button{
  color: white;
  background-color: bisque;
 
}
  button:hover{
    background-color: #1d3557;
  }
  .p1{
    color: white;
    background-color: black;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
  }
  
  a:link{
    color: white;
    text-decoration: none;
}

a:link, a:visited {
background-color:darkgoldenrod;
color: white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;

}
h1{
  background-color:cadetblue;
  text-align: center;
  color: white;
}